html {
  height: 100%;
  width: 100%
}
body {
  height: 100%;
  width: 100%;
}
#block-system-main-menu {
  width: 10%;
  float: left;
  padding-right: 6%;
}
#block-system-main-menu h2 {
  display: none;
}
#block-system-navigation {
  width: 18%;
  float: right;
  margin-right: 2px;
}
.node .node-article {
  margin: 10px;
  width: 60%;
}
#header {
  text-align:center;
}
#navigation .section h2 {

}
