html {
  background-color: #EF5B5B;
}

.html {
  background-repeat: no-repeat;
  background-size: cover;
  color: #23001E;
  font-family: 'Shadows Into Light Two', cursive;
  background-color: #20A39E;
}

body {
  color: #23001E;
  font-family: 'Shadows Into Light Two', cursive;
}

.header__logo-image {
  height: 100px;
}

#logo img {
  height: 100px;
}

#site-name {
  color: #754242;
  text-align: center;
}

.header {
  background-color: #EF5B5B;
  color: #754242
}

#header {
  background-color: #FFBA49;
  color: #754242
}

#header a {
  color: #754242;
  text-align: center;
}

#header a:hover {
  color: #9e0918;
}

.middle {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #754242; 
  text-align: center;
  color: #20A39E; *//teal
}

.middle a {
  color: #20A39E;
}

.middle a:hover {
  color: #0d3e47;
}

.container-inline {
  padding: 10px;
  background-color: #FFBA49;
  width: 15%;
  color: #20A39E;
  border-radius: 15%;
  margin-bottom: 10px;
}

.container-inline a {
  color: #754242;
}

#block-system-navigation {
  padding: 10px;
  background-color: #FFBA49;
  width: 15%;
  color: #20A39E;
  border-radius: 15%;
}

#block-system-navigation a{
  color: #754242;
}

#block-system-navigation a:hover{
  color: #9e0918;
}

#edit-submit {
  background-color: #20A39E;
  color: #23001E;
}
