html {
    -webkit-animation: background-pulse 120s infinite;
    background-size: 100% 120%;
    background-image: url('http://www.lovethisgif.com/uploaded_images/12157-Abstract-Psychedelic-Background.-Optical-Illusion.-Rainbow-....gif');
    font-family: 'Dosis', sans-serif;
    letter-spacing: 5px;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 130%;
    font-weight: 400;
}

a {
    font-family: 'Dosis', sans-serif;
    letter-spacing: 5px;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 130%;
}
