/*Template regions = ids: header, navbar, top-container, main-container, deals, page-header, sidebar-first, main-content, sidebar-second, footer*/
.name {
    font-size: 30px;
}
.lead {
    margin-left: 10px;
}
#header {
    margin-left: 10px;
}
#navbar {
    margin-left: 10px;
}

}
#top-container {
    background-color: lightblue;
}

#page-header {
    border: 2px solid black;
    margin: 0 auto;
    width: 860px;
    height: 38px;
    border: 2px solid;
    background-color: lightblue;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

#page-header li{
    display: inline;
}

#page-header a{
    text-decoration: none;
    font-size: 18px;
    margin-top: 15px;
    margin-left: 30px;
}

#main-container {
    margin-left: 10px;
    padding-left: 30px;
    border: 2px solid black;
    background-color: lightgreen;
    border-radius: 10px;
}

#sidebar-first {
    margin-left: 10px;
}
#main-content {
    margin-left: 10px;
    border: 2px solid black;
}
#sidebar-second {
    margin-left: 10px;
    border: 2px solid black;
}
#footer {
    margin-left: 10px;
    border: 2px solid black;
    background-color: lightpink;
    border-radius: 10px;
}
