#header {

    background-image:  url("http://cdn.localeats.com/media/images/2792-0.jpg");
    background-size: 100%;
    height: 500px;

}

#name-and-slogan {
    color: white;
    text-align: center;
    font-family: sans-serif;
}

#sidebar-first {
    background-color: green;
}
