.node_cafe_menu {

    .cafe-menu-view{
        border: 3px double silver;
        text-align:center;
        font-family: "Helvetica Neue", helvetica, Arial, sans-serif;
        .view-header{
            h2 {
                @include font-size(40);
            }

            h4 {
                @include font-size(12);
                text-decoration: underline;
                font-family:"Helvetica Neue", helvetica, Arial, sans-serif;
                font-weight:200;
            }
        }
        .view-content {
            h3 {
                @include font-size(30);
                font-weight:200;
                padding: 5px;
                margin: 10px;
            }
            .views-field-title {
                @include font-size(16);
            }
            .views-field-field-description {
                font-style: italic;
            }
        }
    }

}
