@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
    font-family: 'Indie Flower', cursive;
    background-image: url('../img/restaurant_icons.png');
}

* {
    margin-top: 0;
}

#header img {
    height: 30px;
    display: inline-block;
}
#site-name {
    display: inline-block;
}

#navigation {
    display: inline-block;
    width: 30%;
}

#main-wrapper {
    display: inline-block;
    width: 50%;
    margin-left: 40px;
    margin-right: auto;
}

.highlight {
    background-color: rgba(173,216,230,.1);
}

.big-type {
    font-size: 1.1em;
}
