* {
  font-family: sans-serif;
}

body {
  color: white;
  background-color: lightslategray;
}

a {
  color: peachpuff;
}

:visited {
  color: maroon;
}

input {
  border-radius: 10px;
  background-color: white;
}

.header__logo-image {
  height: 50px;
  width: auto;
}
