html {
    font-family: 'Satisfy', cursive;
    background-color: #D6C1F9;
}

.breadcrumb {
    display: none;
}

#header {
  background: url('../images/love-heart-purple-st.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  background-position: absolute;
  top: 0;
  height: 150px;
}

#name-and-slogan {
  margin-left: 45%;
}

#logo-image {
  margin-left: 50%;
}

#site-name {
  font-size: 150%;
}

.map-display {
  width: 800px;
  margin: 0 auto;
  border: 5px solid black;
}

#mainmenusection {
  background-color: #A898DE;
  width: 100%;
  padding: 10px;
}

#sidebar-first {
  width: 30%;
  float: left;
}

#content {
  width: 30%;
  margin: 0 auto;
  float: inherit;
}

#sidebar-second {
  width: 30%;
  float: right;
}
