input {
  background-color: papayawhip;
  font-family: 'Cabin Sketch', cursive;
}

label {
  font-family: 'Barrio', cursive;
}

a {
  font-family: 'Freckle Face', cursive;
}

h2 {
  font-family: 'Cabin Sketch', cursive;
}

span {
  color: green;
}
