@import url('https://fonts.googleapis.com/css?family=Nunito|Work+Sans');

body, html {
  background-color: #ffffcc;
}

body {
  font-family: 'Nunito', sans-serif;
  padding-bottom: 50px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', sans-serif;
}

#logo {
  float: left;
}

#site-name, #site-slogan {
  margin: 0;
  padding-left: 45px;
}

#site-name a {
  color: #8E6BB2;
}

#header {
  margin-top: 20px;
  padding-left: 15%;
}

.menu-center {
  text-align: center;
}

#navigation {
  margin: 5px 0;
  border-bottom: 2px solid grey;
  padding-bottom: 2px;
}

#secondary-menu li {
  border: 1px solid grey;
  border-radius: 10px 10px 0 0;
}

#main-menu li {
  font-size: 16px;
  border-right: 2px solid grey;
}

#main-menu li:last-child {
  border-right: none;
}

.region-sidebar-first {
  background-color: #ffffe6;
  border: 1px solid grey;
  padding: 2px;
}

.node-teaser {
  border: 2px solid grey;
  padding-left: 10px;
  margin-bottom: 3px;
  background-color: #B2DFFF;
}

.node-teaser .links a:hover {
  background-color: grey;
}

.node-teaser h2 a {
  color: #B2B27D;
}

.submitted {
  font-size: 12px;
  font-weight: bold;
}

.content p{
  font-size: 16px;
}

#footer {
  padding: 3px;
  border-top: 1px solid grey;
  margin-top: 2px;
  text-align: center;
}
