body {
  font-family: Helvetica;
}

a {
  text-decoration: none;
  color: #FFE5AA;
}

#header {
  background: #3E3E3E;
  font-size: 1.5em;
  text-align: center;
}

#navigation {
  border-style: solid;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.breadcrumb a {
  color: black;
  border: solid 0.5px;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;

}

#site-slogan {
  text-align: center;
  font-style: italic;
  padding: 15px;
}

#main {
  background: #43877A;
}

.section {
  width: 90%;
  margin-top: 10px;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 10px;
}
