body {
    background-color: #fffacd;
}

#header {
    background-color: #FEF8BC;
}

#navigation_bar {

}

#left_sidebar {
    background-color: #dddddd;
}

#sale {
    background-color: #dddddd;
    border: 1px black solid;
    width: 50%;
    margin: 100px;
}

#content {

}

#right_sidebar {
    background-color: #dddddd;
}

#footer {

}
