#logo {
  float: left;
  padding-right: 20px;
}

#name-and-slogan {
  font-size:3vh;
}

#site-slogan {
  color: chocolate;
  font-size: 2rem;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
