.header__logo {
  width: 15%;

  float: left;
  margin: 0 10px 0 0;
  padding: 0;
}

[dir="rtl"] .header__logo {
  float: right;
  margin: 0 0 0 10px;
}

.header__logo-image {
  vertical-align: bottom;
}

.header__name-and-slogan {
  color: chocolate;
  float: left;
  padding-bottom: 20px;
}

.header__site-slogan {
  color: chocolate;
  font-size: 2rem;
}

.main-menu {
  float:right;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
