body {
    font-family: fantasy;
    background-color: #33ffff;
    text-align: center;
    background-image: url(http://i.huffpost.com/gen/1387950/images/o-BREAD-facebook.jpg);
}

body:hover {
  animation: shake 5.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 100px;
}

@keyframes shake {
  50%, 50% {
    transform: translate3d(-20px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(40px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-80px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(10px, 0, 0);
  }
}
